PORT=5000
MONGO_URI=mongodb://localhost:27017/pm-app
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173

# Email (Nodemailer) - use Mailtrap/Gmail app password/SendGrid SMTP etc.
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_pass
EMAIL_FROM="ProjectFlow <no-reply@projectflow.app>"
